
.notification-chat{
    min-width: 18px;
    padding: 3px 5px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.nav-main .notification-chat{
    position: absolute;
    top: 18%;
    left: 50%;
    z-index: 50;
}

.notification-dot{
    width: 7px;
    height: 7px;
    background-color: tomato;
    border-radius: 50%;

    position: absolute;
    top: 30%;
    right: 30%;
    z-index: 50;
}

.banner{
    padding: 0px 14px;
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: center;
}
.banner .link-banner{
    display: block;
    width: 350px;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}
.banner.more{
    margin-top: 12px;
    margin-bottom: 6px;
}