
.profilemusic{
    max-width: 180px;
    padding: 2px;
    padding-left: 6px;
    border: 1px solid greenyellow;
    border-radius: 50px;
    display: flex;

    align-items: center;
}

.profilemusic .subtitle{
    color:black;
    padding: 0px 2px;
    padding-top: 1px;
}

.profilemusic button{
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}