@import "../reset.css";
@import "../variables.css";

.login-header{
    margin: 70px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.login-header_title{
    margin-bottom: 20px;
    font-size: 25px;
}

.login-header_text{
    width: 60%;
    color: rgba(0,0,0,0.6);
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.login-form_input,
.login-form_btn
{
    padding: 20px 0px;
    font-size: 18px;
    border:none;
}

.login-form_input{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

.login-form_input::placeholder{
    color:rgba(0,0,0,0.4);
}
.login-form_input:focus{
    border-color: var(--yellow);
}

.login-form_btn{
    border-radius: 10px;
}
.login-form_btn:hover{
    background-color:var(--yellow);
    cursor:pointer;
}
.login-form_btn:active{
    background-color:var(--darkyellow);
}

.login-form_btn[value="Log In"]{
    margin-top: 40px;
}

.login-form_btn[value="Sign Up"]{
    margin: 20px 0px;
}

.login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

.login-form a:hover{
    color: gray;
}