.component-user{
    width: 100%;
    display: flex;
    padding: 6px 14px;
    justify-content: space-between;
    align-items: center;
}

.component-user:hover{
    background-color: rgba(0,0,0,0.3);
}
.component-user:active:not(.profile-lg){
    box-shadow: 0px 0px 10px black;
}

.component-user.profile-lg .thumb{
    width: 52px;
    height: 52px;
}
.component-user.profile-nm .thumb{
    width: 38px;
    height: 38px;
}
.component-user.chats .thumb{
    width: 46px;
    height: 46px;
}

.component-user.profile-lg .title{
    padding-bottom: 8px;
}
.component-user.profile-nm .title{
    padding-top: 6px;
    padding-bottom: 5px;
}
.component-user.chats .title{
    padding-bottom: 8px;
}

.component-user .info{
    padding: 0px 10px;
}


.badge{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0px;
    height: 46px;
}

.badge .subtitle{
    line-height: 30px;
    height: 23px;
    
}