.header-component-style_1{
    border-bottom: var(--component-border);
    width: inherit;
    min-width: 300px;
    height: 95px;
    padding-top: 38px;
    padding-bottom: 5px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    z-index: 50;
}


.header-component-style_1 .title{
    font-weight: bold;
    font-size: 26px;
    margin-left: 14px;
}
.header-component-style_1 .list-btn{
    height: 26px;
}

.header-component-style_1 .header-btn{
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

.header-component-style_1 .header-btn i{
    transform: scale(1.25, 1.25);
}

.header-component-style_2{
    border-bottom: var(--component-border);
    width: inherit;
    min-width: 300px;
    height: 84px;
    padding-top: 38px;
    padding-bottom: 5px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    z-index: 50;
}
.header-component-style_2 .header-btn i{
    transform: scale(1.25, 1.25);
}

.header-component-style_2 .title{
    font-weight: bold;
    font-size: 20px;
    margin-left: 14px;
}

.header-component-style_2 .header-btn{
    width: 20px;
    height: 20px;
    margin: 0px 14px;
}
