
.nav{
    background-color: #f9f9fa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav_list{
    display: flex;
    height: 100px;
}

.nav_btn{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_btn:hover{
    background-color: rgb(239, 239, 240);
}

.nav_link{
    color: #2e363e;
}

.nav_link{
    position: relative;
}

.nav-comment-notification{
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-weight: 600;
    position: absolute;
    right: -7px;
    top: -7px;
}

.nav-etc-notification{
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    font-weight: 600;
    position: absolute;
    right: -15px;
}