.user-component{
    display: flex;
    align-items: center;
    background-color: white;
}
.user-component:hover{
    background-color: wheat;
}

.user-component.big{
    padding: 10px 0px;
    margin-bottom: 10px;
}
.user-component .thumb{
    border-radius: 40%;
}

.user-component.big .thumb{
    min-width: 60px;
    min-height: 60px;
    background-color: black;
}

.user-component .wrap-info{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: space-evenly;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-component.big .wrap-info{
    height: 60px;
}

.user-component.big .title{
    font-size: 17px;
    
}
.title{
    font-size: 15px;
    color: black;
    padding: 5px 0px;
}
.subtitle{
    font-size: 12px;
    color:rgba(0,0,0,0.2);
}

.wrap-user-component{
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.user-component-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user-component-header .subtitle{
    color: rgba(0,0,0,0.6);
    padding-top: 10px;
    padding-bottom: 5px;
}
.user-component.small{
    position: relative;
    padding: 10px 0px;
}
.user-component.small .thumb{
    min-width: 40px;
    min-height: 40px;
    background-color: black;
}

.wrap-music{
    position: absolute;
    right: 0px;
    width: 150px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-music .subtitle{
    color: rgba(0,0,0,0.8);

    display: block;
    max-width: 124px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}